.container{
    max-width: none!important;
    width: fit-content !important;
    margin-left: 15% !important;
    margin-top: 5% !important;
}

.item-container{
    display: flex;
    padding-top: 20px;
}

.item-image{
    flex: 0.35;
    padding:0% !important;
}

.item-info{
    flex: 0.5;
}