/* ------------------------------------------------------CSS FOR ACCOUNT PAGES -------------------------------------------------------*/
.login-container-account {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8% !important;
    background-color: white;
    width: 30%;
    padding: 30px;
    border-radius: 10px;
}

.login-card-account {
    background-color: #8fc4b7;
    display: flex;
    justify-content: center;
}

.alert {
    text-align: center;
    margin-bottom: 0 !important;
}

.input-account {
    resize: horizontal;
    width: 100%;
    font-size: 15px !important;
}

.login-form {
    position: relative;
    width: 100%;
}


/* CSS for history pages */
.history-detail-container {
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #8fc4b7;
}

.history-table {
    background-color: white;
    z-index: 2;
    border-radius: 3px;
}

td {
    color: gray !important;
}


.history-status {
    border: none;
    border-radius: 5px;
    text-align: center;
    height: fit-content;
    padding: 5px
}



/* -------------------------------------------------------CSS FOR HOME PAGES ------------------------------------------------------*/
.home-container {
    height: fit-content;
    background-color: white;
}

.home-body {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.home-h4 {
    font-weight: 700 !important;
    margin-top: 70px !important;
}

.alert {
    text-align: center;
    margin-bottom: 0 !important;
    font-size: 15px !important;
}

.home-h6 {
    font-weight: 500 !important;
    color: gray !important;
    font-size: 14px !important;
}

.home-service-icon {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

.home-services-container {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    padding-left: 250px;
    padding-right: 200px;
}

.home-service {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #d6d6d6;
    text-align: start !important;
    border-radius: 10px;
    border: none !important;
}

.home-service:hover {
    background-color: #086efc;
    color: white !important;
}


/* -----------------------------------------------------CSS FOR PROFILE PAGE ------------------------------------------------*/
.profile-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2% !important;
    background-color: white;
    width: 30%;
    color: #8fc4b7;
    font-weight: 600;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


#profile-fieldPhoto {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}


body.modal-open {
    overflow: auto !important;
    padding: 0px !important;
}

.profile-input-container {
    display: flex;
    margin-left: 1px;
    align-items: center
}

.profile-photo-container {
    flex: 0.9;
    outline: 5px solid grey;
    border-radius: 10px;
}

.profile-status {
    position: relative;
    border: none !important;
    font-size: 12px !important;
    padding: 5px !important;
    border-radius: 2px;
}

.profile-account-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2% !important;
    justify-content: start;
    background-color: #4835d4;
    width: 30%;
    color: white;
    padding: 15px;
    padding-right: 0px !important;
    box-sizing: border-box !important;
    font-weight: 600;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.profile-wrapper {
    display: flex;
    justify-content: center;
    border-radius: 10px !important;
    padding-bottom: 20px;
}



.profile-btn {
    padding-right: 20px;
    padding-left: 20px;
    border: none !important;
    font-size: 15px !important;
}

.profile-form-group {
    padding: 8px;
    position: relative;
    height: fit-content;
}


.alert {
    text-align: center;
    margin-bottom: 0 !important;
}


.profile-card {
    background-color: #8fc4b7;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin: auto;
}

.profile-input {
    resize: horizontal !important;
    width: 100%;
    font-size: 15px !important;
}

.profile-form {
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
}

.profile-form-container {
    width: 100%;
}


/* ---------------------------------------------CSS FOR REGISTER PAGE ----------------------------------------------------------------*/
.register-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3% !important;
    background-color: white;
    width: 30%;
    /* padding: 40px; */
    border-radius: 7px;
    padding: 20px;
}

#register-fieldPhoto {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}



.register-btn {
    padding-right: 20px;
    padding-left: 20px;
    border: none !important;
    font-size: 15px !important;
}

.register-form-group {
    padding: 10px;
    position: relative;
}

.alert {
    text-align: center;
    margin-bottom: 0 !important;
}


.register-card {
    background-color: #8fc4b7;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    padding-bottom: 50px;
}

.register-input {
    resize: horizontal;
    width: 100%;
    font-size: 15px !important;
}

.register-form {
    position: relative;
    width: 100%;
}



/* ---------------------------------------------------CSS FOR TRANSACTION DETAIL PAGES -----------------------------------------------*/
.transaction-detail-container {
    padding-top: 3%;
    padding-left: 30%;
    padding-right: 30%;
    background-color: #8fc4b7;
}

.transaction-table {
    background-color: white;
    z-index: 2;
    border-radius: 3px;

}

.alert {
    text-align: center;
    margin-bottom: 0 !important;
    font-size: 15px !important;
}


.transaction-textarea:focus {
    outline: none;
}

.transaction-textarea {
    width: 100% !important;
    border: none;
}

td {
    color: gray !important;
}

tr {
    font-size: 15px !important;
}

.confirm-input {
    border: none;
    color: gray !important;
}