.transaction-detail-container{
    padding-top: 3%;
    padding-left: 30% ;
    padding-right: 30%;
    background-color:#8fc4b7;
}

.transaction-table{
    background-color: white;
    z-index: 2;
    border-radius:3px;

}

.alert {
    text-align: center;
    margin-bottom: 0 !important;
    font-size: 15px !important;
}


.transaction-textarea:focus{
    outline: none;
}

.transaction-textarea{
    width: 100%;
    border: none;
}

td{
    color: gray !important;
}

tr{
    font-size: 15px !important;
}