/* .history-detail-container{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #8fc4b7;
}

.history-table {
    background-color: white;
    z-index: 2;
    border-radius: 3px;
}

td{
    color: gray !important;
}


.history-status{
    border: none;
    border-radius: 5px;
    text-align: center;
    height: fit-content;
    padding: 5px
} */