/* .home-container{
    height: fit-content;
    background-color: white;
}

.home-body{
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

h4{
    font-weight: 700 !important;
    margin-top: 70px !important; 
}

.alert {
    text-align: center;
    margin-bottom: 0 !important;
    font-size: 15px !important;
}

h6 {
    font-weight: 500 !important;
    color: gray !important;
    font-size: 14px !important;
}

.service-icon{
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

.services-container{
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    padding-left: 250px;
    padding-right: 200px;
}

.service{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: start !important;
    border-radius: 10px;
    border: none !important;
}

.service:hover{
    background-color:#086efc;
    color: white !important;
} */