<div class="container">
    <h1>Thêm user mới</h1>
    <form class="form" action="/users/add" method="post">
        <div class="mb-3">
            <label for="fullname" class="form-label">Fullname</label>
            <input type="text" class="form-control" placeholde="Enter fullname" name="fullname" id="fullname">
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" placeholder="Enter username" name="username" id="username">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" name="password" id="password">
        </div>

        <button type="submit" class="btn btn-success">Thêm user</button>
    </form>
</div>