{{#if message}}
<div class="alert alert-{{message.type}} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong>{{message.intro}}: </strong> {{message.message}}
</div>
{{/if}}
<div class="login-card-account">
    <div class="login-container-account">
        <div class="title-container">
            <h2>Enter email</h2>
        </div>
        <form class="login-form" method="post" action="/forgot-password">
            <div class="form-group ">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="input-account form-control" name="email" id="email">
            </div>
            {{#if flash}}
            <div class="mb-3 " style="margin-top: 10px;">
                <input disabled style="background-color:#f8d7db; color:#83353d !important" type="text"
                    value="{{flash.message}}" class="input-account form-control">
            </div>
            {{/if}}
            <button style="margin-top: 10px;" type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>