<div style="margin-left: 35%;margin-top:10%">
    <h1>Nhập email</h1>
    <form style="width: 500px;" method="post" action="/forgot-password">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" required>
        </div>
        {{#if message}}
        <div class="mb-3">
            <input disabled style="background-color:#f8d7db; color:#83353d !important" type="text" value="{{message}}"
                class="form-control">
        </div>
        {{/if}}
        <button style="margin-top: 20p;" type="submit" class="btn btn-primary">Send</button>

    </form>
</div>