{{#if message}}
<div class="alert alert-{{message.type}} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong>{{message.intro}}: </strong> {{message.message}}
</div>
{{/if}}
<div class="register-card">
    <div class="register-container">
        <div style="padding-bottom:40px" class=" register-form-group">
            <h2>Registration </h2>
        </div>
        <form class="register-form" method="post" action="/register" enctype="multipart/form-data">
            <div class="register-form-group">
                <input type="number" class="register-input form-control" required placeholder="Phone Number"
                    name="phone_number" id="phone_number">
            </div>


            <div class="register-form-group">
                <input type="email" class="register-input form-control" required placeholder="Email Address"
                    name="email" id="email">
            </div>

            <div class="register-form-group">
                <input type="text" class="register-input form-control" required placeholder="Fullname" name="fullname"
                    id="fullname">
            </div>


            <div class="register-form-group">
                <input placeholder="Birthdate" required class="register-input form-control" type="text"
                    onfocus="(this.type='date')" id="date" name="birthdate" id="birthdate">
            </div>

            <div class="register-form-group">
                <input type="text" class="register-input form-control" required placeholder="Address" name="address"
                    id="address">
            </div>

            <div class="mb-3">
                <div class="register-form-group">
                    <div class="input-group">
                        <input type="text" class="register-input form-control" id="font_photoPath" name="font_photoPath"
                            placeholder="Upload CMND mặt trước">
                        <span class="input-group-text" id="basic-addon2">Browse</span>
                    </div>
                    <input type="file" multiple="multiple"
                        onchange="document.getElementById('font_photoPath').value = this.value.replace('C:\\fakepath\\', '');"
                        class="register-input form-control-file" required accept="image/*" id="register-fieldPhoto"
                        name="font_photoPath" aria-label="File browser example">
                </div>
            </div>

            <div class="mb-3">
                <div class="register-form-group">
                    <div class="input-group">
                        <input type="text" class="register-input form-control" id="back_photoPath" name="back_photoPath"
                            placeholder="Upload CMND mặt sau">
                        <span class="input-group-text" id="basic-addon2">Browse</span>
                    </div>
                    <input type="file" multiple="multiple"
                        onchange="document.getElementById('back_photoPath').value = this.value.replace('C:\\fakepath\\', '');"
                        class="register-input form-control-file" required accept="image/*" id="register-fieldPhoto"
                        name="back_photoPath" aria-label="File browser example">
                </div>
            </div>

            <div class="mb-3" style="display: flex;justify-content:space-between">
                <div class="register-form-group">
                    <a type="submit" href="/login" class="register-btn btn btn-secondary"><i
                            class="fas fa-angle-left"></i> Go
                        back
                        to login</a>
                </div>
                <div class="register-form-group">
                    <button type="submit" class="register-btn btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>