{{#if message}}
<div class="alert alert-{{message.type}} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong>{{message.intro}}: </strong> {{message.message}}
</div>
{{/if}}
<div class="home-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://simg.zalopay.com.vn/zlp-website/assets/showcase_home_banner_pc_20210930_409371271e.jpg"
                    class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="https://simg.zalopay.com.vn/zlp-website/assets/Showcase_Risk_and_Security_banner_website_1920x480_5adff9f5dc.jpg"
                    class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="https://simg.zalopay.com.vn/zlp-website/assets/Desktop_1920x480_min_60356bef00.jpg"
                    class="d-block w-100" alt="..." />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="home-body">
        <h4 class="home-h4">ZALOPAY - VÍ ĐIỆN TỬ QUỐC DÂN TRONG ZALO</h4>
        <h6 class="home-h6" style="margin-top:20px !important">ZaloPay là ứng dụng thanh toán di động với nhiều tính
            năng độc đáo. Được
            xây dựng
            chuyên biệt để thỏa</h6>
        <h6 class="home-h6">mãn mọi nhu cầu thanh toán trong cuộc sống và nhu cầu kinh doanh...</h6>

        <div class="home-services-container">

            <button class="home-service" data-bs-toggle="modal" data-bs-target="#recharge">
                <div class="home-service-icon">
                    <img src="https://simg.zalopay.com.vn/zlp-website/assets/icon_thanhtoantaiquay_6cfbc2fce0.svg"
                        alt="" />
                    <i style="color: #d6d6d6 !important;" class="large material-icons">arrow_forward</i>
                </div>
                <div class=" dropdown-item-info" style="display:flex;flex-direction:column;justify-content:center">
                    <span class="service-name" style="font-weight: bold;font-size:16px">Nạp tiền vào tài
                        khoản</span>
                    <span class="service-description" style="opacity:0.7;font-size:14px">Miễn phí, an toàn, tiện
                        lơi</span>
                </div>
            </button>

            <!-- Nạp tiền vào tài khoản -->
            <div class="modal fade" id="recharge" tabindex="-1" aria-labelledby="rechargeLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="rechargeLabel">Nạp tiền vào tài
                                khoản qua thẻ ứng dụng</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="get" action="/user/service/recharge" class="modal-body">
                            <input style="margin: 5px;" required type="number" class="form-control" placeholder="Số thẻ"
                                name="card_number">
                            <input style="margin: 5px;" required type="date" class="form-control"
                                placeholder="Ngày hết hạn" name="expired">
                            <input style="margin: 5px;" required type="number" class="form-control" placeholder="Mã CVV"
                                name="cvv">
                            <div style="margin: 5px;" class="input-group mb-3">
                                <input required type="number" class="form-control" placeholder="Số tiền muốn nạp"
                                    name="money">
                                <span class="input-group-text">.000 VND</span>
                            </div>

                            <div style="width: 100%; margin-top:20px;display:flex;justify-content:flex-end">
                                <button style="margin-right: 10px;" type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>





            <button class="home-service" data-bs-toggle="modal" data-bs-target="#withdraw">
                <div class="home-service-icon">
                    <img src="https://simg.zalopay.com.vn/zlp-website/assets/icon_hoadon_602ba6d699.svg" alt="" />
                    <i style="color: #d6d6d6 !important;" class="large material-icons">arrow_forward</i>
                </div>
                <div class=" dropdown-item-info" style="display:flex;flex-direction:column;justify-content:center">
                    <span class="service-name" style="font-weight: bold;font-size:16px">Rút tiền về thẻ tín dụng</span>
                    <span class="service-description" style="opacity:0.7;font-size:14px">Miễn phí, an toàn, tiện
                        lơi</span>
                </div>
            </button>

            <!-- Rút tiền về thẻ tín dụng -->
            <div class="modal fade" id="withdraw" tabindex="-1" aria-labelledby="withdrawLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="withdrawLabel">Rút tiền về thẻ tín dụng</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="get" action="/user/service/withdraw" class="modal-body">
                            <input style="margin: 5px;" required type="number" class="form-control" placeholder="Số thẻ"
                                name="card_number">
                            <input style="margin: 5px;" required type="date" class="form-control"
                                placeholder="Ngày hết hạn" name="expired">
                            <input style="margin: 5px;" required type="number" class="form-control" placeholder="Mã CVV"
                                name="cvv">
                            {{!-- <input style="margin: 5px;" required type="number" class="form-control"
                                placeholder="Số tiền muốn rút (.000 đ)" name="money"> --}}

                            <div style="margin: 5px;" class="input-group mb-3">
                                <input required type="number" class="form-control" placeholder="Số tiền muốn rút"
                                    name="money">
                                <span class="input-group-text">.000 VND</span>
                            </div>


                            <textarea required style="margin: 5px;" type="text" class="form-control"
                                placeholder="Ghi chú" name="note" id="note"></textarea>

                            <div style="width: 100%; margin-top:20px;display:flex;justify-content:flex-end">
                                <button style="margin-right: 10px;" type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>





            <button class="home-service" data-bs-toggle="modal" data-bs-target="#transfer">
                <div class="home-service-icon">
                    <img src="https://simg.zalopay.com.vn/zlp-website/assets/icon_chuyentien_48a9c17e75.svg" alt="" />
                    <i style="color: #d6d6d6 !important;" class="large material-icons">arrow_forward</i>
                </div>
                <div class=" dropdown-item-info" style="display:flex;flex-direction:column;justify-content:center">
                    <span class="service-name" style="font-weight: bold;font-size:16px">Chuyển tiền qua tài khoản</span>
                    <span class="service-description" style="opacity:0.7;font-size:14px">Miễn phí, an toàn, tiện
                        lơi</span>
                </div>
            </button>

            <!-- Chuyển tiền qua tài khoản -->
            <div class="modal fade" id="transfer" tabindex="-1" aria-labelledby="transferLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="transferLabel">Chuyển tiền cùng hệ thống</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="get" action="/user/service/transfer" class="modal-body">
                            <input style="margin: 5px;" required type="number" class="form-control"
                                placeholder="Số điện thoại" name="phone_number">

                            <div style="margin: 5px;" class="input-group mb-3">
                                <input required type="number" class="form-control" placeholder="Số tiền muốn chuyển"
                                    name="money">
                                <span class="input-group-text">.000 VND</span>
                            </div>

                            <textarea style="margin: 5px;" type="text" required class="form-control"
                                placeholder="Ghi chú" name="note" id="note"></textarea>

                            <select style="margin: 5px;" name="pay_side" name="pay_side"
                                class="form-select form-select-sm mb-3" aria-label=".form-select-lg example">
                                <option selected disabled style="color: gray;opacity: 0.4"> Chọn bên trả phí giao dịch
                                    (5%)
                                </option>
                                <option value="sender">Người chuyển</option>
                                <option value="receiver">Người nhận</option>
                            </select>

                            <div style="width: 100%; margin-top:20px;display:flex;justify-content:flex-end">
                                <button style="margin-right: 10px;" type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



            <button class="home-service" data-bs-toggle="modal" data-bs-target="#mobile">
                <div class="home-service-icon">
                    <img src="https://simg.zalopay.com.vn/zlp-website/assets/icon_dienthoai_4043b21b86.svg" alt="" />
                    <i style="color: #d6d6d6 !important;" class="large material-icons">arrow_forward</i>
                </div>
                <div class=" dropdown-item-info" style="display:flex;flex-direction:column;justify-content:center">
                    <span class="service-name" style="font-weight: bold;font-size:16px">Mua thẻ điện thoại</span>
                    <span class="service-description" style="opacity:0.7;font-size:14px">Miễn phí, an toàn, tiện
                        lơi</span>
                </div>
            </button>


            <!-- Mua thẻ điện thoại -->
            <div class="modal fade" id="mobile" tabindex="-1" aria-labelledby="mobileLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mobileLabel">Mua thẻ điện thoại</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post" action="/user/service/mobile" class="modal-body">

                            <select id="network" name="network" class="form-select form-select-sm mb-3"
                                aria-label=".form-select-lg example">
                                <option selected disabled style="color: gray;opacity: 0.4"> Chọn Nhà mạng
                                </option>
                                <option value="viettel">Viettel</option>
                                <option value="mobifone">Mobifone</option>
                                <option value="vinaphone">Vinaphone</option>
                            </select>

                            <select id="price" name="price" class="form-select form-select-sm mb-3"
                                aria-label=".form-select-lg example">
                                <option selected disabled style="color: rgb(80, 60, 60);opacity: 0.4"> Chọn mệnh giá
                                </option>
                                <option value="10">10.000đ</option>
                                <option value="20">20.000đ</option>
                                <option value="50">50.000đ</option>
                                <option value="100">100.000đ</option>
                            </select>

                            <select id="quantity" name="quantity" class="form-select form-select-sm mb-3"
                                aria-label=".form-select-lg example">
                                <option selected disabled style="color: gray;opacity: 0.4"> Chọn số lượng
                                </option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>

                            <div style="width: 100%; margin-top:20px;display:flex;justify-content:flex-end">
                                <button style="margin-right: 10px;" type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>