<div style="margin-left: 35%;margin-top:10%">
    <h1>Đăng ký mật khẩu mới</h1>
    <form style="width: 500px;" method="post" action="/reset-password">
        <input type="hidden" name="token" value={{token}}>
        <div class="mb-3">
            <label for="newpass1" class="form-label">Nhập mật khẩu mới</label>
            <input type="password" name="newpass1" class="form-control" id="newpass1">
        </div>
        <div class="mb-3">
            <label for="newpass2" class="form-label">Xác nhận mật khẩu mới</label>
            <input type="password" class="form-control" name="newpass2" id="newpass2">
        </div>
        {{#if message}}
        <div class="mb-3">
            <input disabled style="background-color:#f8d7db; color:#83353d !important" type="text" value="{{message}}"
                class="form-control">
        </div>
        {{/if}}
        <button style="margin-top: 20p;" type="submit" class="btn btn-primary">Send</button>
    </form>
</div>